@{
    ViewData["Title"] = "Introduction";
}

<div class="text-center">
    <h1 class="display-4">Tim's Project</h1>
    <h2>This is a project built by Tim</h2>
    <p>This project is built with ASP.NET Framework</p>
    <p> some information about </p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Other Projects</h2>
    <a href="https://learn.microsoft.com/aspnet/core">Project one</a>
    <a href="https://learn.microsoft.com/aspnet/core">Project two</a>
</div>
